@model ProjetoWeb.Models.Profissionais
@{ 
    List<Especialidades> Especialidades = ViewBag.Especialidades;
    var Nascimento = String.Format("{0:dd/MM/yyyy}", Model.Nascimento);
}

<div>
    <h4>Profissionais</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhatsApp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhatsApp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => Nascimento)
        </dd>
        <dt>
            Especialidades
        </dt>
        <dd>
            @foreach (var Especialidade in Especialidades)
            {
                @Html.DisplayFor(model => Especialidade.NomeDaEspecialidade)
            }

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
